{% extends "base.html.twig" %}

{% block title %}Добавление груза{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('assets/js/address-input.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Добавление груза</h1>

    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="alert">
            <div>Для продолжения необходимо авторизоваться на сайте.</div>
{#            <div>#}
{#                <a class="button button-primary" href="{{ path('app_sign_in') }}" data-show-auth="true">Вход</a>#}
{#            </div>#}
        </div>
    {% endif %}
{#    {% for error in errors %}#}
{#        {{ error.message }}#}
{#    {% endfor %}#}
    <div {% if not is_granted('IS_AUTHENTICATED_FULLY') %}class="overlay-box"{% endif %}>
        <form action="{{ path('cargo.store') }}" method="POST" name="order">
            <input type="hidden" name="_token" value="{{ csrf_token('load') }}">
            <div class="legend">Описание груза</div>
            <div class="fieldset">
                <div class="form-item">
                    <div class="label">Тип груза</div>
                    <div class="input">
                        {% if errors and errors['cargoType'] is defined %}
                            <span>{{ errors['cargoType'] }}</span>
                        {% endif %}
                        <select name="cargoType" id="">
                            {% for key, type in cargoTypes %}
                                <option {% if load is defined and load.cargoType == key %}selected{% endif %} value="{{ key }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-item">
                    <div class="label">Упаковка</div>
                    <div class="input">
                        {% if errors and errors['packageTypes'] is defined %}
                            <span>{{ errors['packageTypes'] }}</span>
                        {% endif %}
                        <select name="packageType" id="">
                            {% for key, type in packageTypes %}
                                {% if type.children is not defined %}
                                    <option value="{{ key }}">{{ type }}</option>
                                {% else %}
                                    <optgroup label="{{ type.value }}">
                                        {% for childKey, childType in type.children %}
                                            <option value="{{ childKey }}">{{ childType }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endif %}

                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-item">
                    <div class="label">Объём (на одну машину)</div>
                    <div class="input">
                        {% if errors and errors['volume'] is defined %}
                            <span>{{ errors['volume'] }}</span>
                        {% endif %}
                        <input type="number" name="volume" {% if load is defined %}value="{{ load.volume }}"{% endif %}>
                    </div>
                </div>
                <div class="form-item">
                    <div class="label">Вес (на одну машину)</div>
                    <div class="input">
                        {% if errors and errors['weight'] is defined %}
                            <span>{{ errors['weight'] }}</span>
                        {% endif %}
                        <input type="number" name="weight" {% if load is defined %}value="{{ load.weight }}"{% endif %}>
                    </div>
                </div>
                <div class="form-item">
                    <div class="label">Температурный режим</div>
                    <div class="input">
                        {% if errors and errors['temperatureModeFrom'] is defined %}
                            <span>{{ errors['temperatureModeFrom'] }}</span>
                        {% endif %}
                        <input type="number" name="temperatureModeFrom" placeholder="в ℃" min="-30" max="30" step="1">
                    </div>
                    -
                    <div class="input">
                        {% if errors and errors['temperatureModeTo'] is defined %}
                            <span>{{ errors['temperatureModeTo'] }}</span>
                        {% endif %}
                        <input type="number" name="temperatureModeTo" placeholder="в ℃" min="-30" max="30" step="1"  value="">
                    </div>
                </div>
            </div>

            <div class="legend">Когда</div>
            <div class="fieldset">
                <div class="form-item">
                    <div class="label">Дата загрузки</div>
                    <div class="input">
                        {% if errors and errors['downloadingDateStatus'] is defined %}
                            <span>{{ errors['downloadingDateStatus'] }}</span>
                        {% endif %}
                        <select name="downloadingDateStatus" id="">
                            {% for dateStatusKey, dateStatus in downloadingDateStatuses %}
                                <option {% if load is defined and load.downloadingDateStatus == dateStatusKey %}selected{% endif %}
                                        value="{{ dateStatusKey }}">
                                    {{ dateStatus }}
                                </option>
                            {% endfor %}
                        </select>

                        <div>
                            <div id="ready_date"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="legend">Требования к транспортному средству</div>
            <div class="fieldset">
                <div class="form-item">
                    <div class="label">Кузов*</div>
                    <div class="input">
                        {% if errors and errors['bodyType'] is defined %}
                            <span>{{ errors['bodyType'] }}</span>
                        {% endif %}
                        <select name="bodyType" id="">
                            {% for key, type in bodyTypes %}
                                <option  {% if load is defined and load.bodyType == key %}selected{% endif %} value="{{ key }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-item">
                    <div class="label">Загрузка</div>
                    <div class="input">
                        {% if errors and errors['downloadingType'] is defined %}
                            <span>{{ errors['downloadingType'] }}</span>
                        {% endif %}
                        <select name="downloadingType">
                            {% for key, type in loadingTypes %}
                                <option {% if load is defined and load.downloadingType == key %}selected{% endif %} value="{{ key }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-item">
                    <div class="label">Выгрузка</div>
                    <div class="input">
                        {% if errors and errors['unloadingType'] is defined %}
                            <span>{{ errors['unloadingType'] }}</span>
                        {% endif %}
                        <select name="unloadingType">
                            {% for key, type in loadingTypes %}
                                <option {% if load is defined and load.unloadingType == key %}selected{% endif %} value="{{ key }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="legend">Маршрут</div>
            <div class="fieldset">
                <div class="form-item">
                    <div class="label">Откуда</div>
                    <div class="input">
                        {% if errors and errors['fromAddress'] is defined %}
                            <span>{{ errors['fromAddress'] }}</span>
                        {% endif %}
                        <input type="text" name="fromAddress" id="fromAddressInput" {% if load is defined %}value="{{ load.fromAddress }}"{% endif %}>
                        <div id="fromAddressSuggest">
                            <ul class="suggest-list"></ul>
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <div class="label">Куда</div>
                    <div class="input">
                        {% if errors and errors['toAddress'] is defined %}
                            <span>{{ errors['toAddress'] }}</span>
                        {% endif %}
                        <input type="text" name="toAddress" id="toAddressInput" {% if load is defined %}value="{{ load.toAddress }}"{% endif %}>
                        <div id="toAddressSuggest">
                            <ul class="suggest-list"></ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="legend">Условия перевозки</div>
            <div class="fieldset">
                <div class="form-item">
                    <div class="label">Оплата</div>
                    <div class="input">
                        {% if errors and errors['priceType'] is defined %}
                            <span>{{ errors['priceType'] }}</span>
                        {% endif %}
                        <div id="agreedPriceBlock" class="tab">
                            <label for="">
                                <input type="radio" name="priceType" value="negotiable" {% if load is defined and load.priceType == 'negotiable' %}checked{% endif %}>
                                Возможен торг
                            </label>
                            <label for="">
                                <input type="radio" name="priceType" value="fix" {% if load is defined and load.priceType == 'fix' %}checked{% endif %}>
                                Без торга
                            </label>
                            <label for="">
                                <input type="radio" name="priceType" value="request" {% if load is defined and load.priceType == 'request' %}checked{% endif %}>
                                Запрос
                            </label>
                            <label for="">
                                <input type="radio" name="priceType" value="auction" {% if load is defined and load.priceType == 'auction'%}checked{% endif %}>
                                Торги
                            </label>
                        </div>

                        <div id="priceBlock">
                            <div>
                                <span>С НДС, безнал</span>
                                {% if errors and errors['priceWithoutTax'] is defined %}
                                    <span>{{ errors['priceWithoutTax'] }}</span>
                                {% endif %}
                                <input type="number" id="priceWithoutTax" name="priceWithoutTax" {% if load is defined %}value="{{ load.priceWithoutTax }}"{% endif %}> руб
                            </div>
                            <div>
                                <span>Без НДС, безнал</span>
                                {% if errors and errors['priceWithTax'] is defined %}
                                    <span>{{ errors['priceWithTax'] }}</span>
                                {% endif %}
                                <input type="number" id="priceWithTax" name="priceWithTax" {% if load is defined %}value="{{ load.priceWithTax }}"{% endif %}> руб
                            </div>
                            <div>
                                <span>Наличными</span>
                                {% if errors and errors['priceCash'] is defined %}
                                    <span>{{ errors['priceCash'] }}</span>
                                {% endif %}
                                <input type="number" id="priceCash" name="priceCash" {% if load is defined %}value="{{ load.priceCash }}"{% endif %}> руб
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button type="submit" class="button" {% if not is_granted('IS_AUTHENTICATED_FULLY') %}disabled{% endif %}>Добавить</button>
            </div>
        </form>
    </div>

    <style>
        .overlay-box {
            position: relative;
        }
        .overlay-box:after {
            background: hsla(0,0%,100%,.4);
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 900;
        }
        .alert {
            background-color: #ffefd9;
            font-size: 1rem;
            margin: 0 0 20px;
            padding: .6666rem 1rem;
        }
        #fromAddressSuggest,
        #toAddressSuggest {
            position: absolute;
            display: none;
            background-color: #fff;
            border-radius: 8px;
            color: #000;
            left: 0;
            top: 100%;
            margin-top: 4px;
            box-shadow: 0 5px 46px #0000001f,0 7px 15px #0000001f;
            height: 300px;
            overflow-y: auto;
            z-index: 3;
        }
        .suggest-list {
            margin: 0;
            padding: 0;
            height: 100%;
            list-style-type: none;
        }
        .suggest-list li {
            padding: 8px 15px;
        }
        .suggest-list li:hover {
            background-color: #f4f4f4;
        }
        .tab {
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 32px;
            line-height: normal;
            padding: 0;
            margin-bottom: 10px;
        }
    </style>
    <script>
        document.getElementById('agreedPriceBlock').onchange = function(e) {
            const priceWithoutTax = document.getElementById('priceWithoutTax');
            const priceWithTax = document.getElementById('priceWithTax');
            if (document.querySelector('input[name="isAgreedPrice"]:checked').value == 'on') {
                priceWithoutTax.disabled = false;
                priceWithTax.disabled = false;
            } else {
                priceWithoutTax.disabled = true;
                priceWithTax.disabled = true;
                priceWithoutTax.value = '';
                priceWithTax.value = '';
            }
        }

        const fromAddressInput = document.getElementById('fromAddressInput');
        const fromAddressSuggest = document.getElementById('fromAddressSuggest');


        const toAddressInput = document.getElementById('toAddressInput');
        const toAddressSuggest = document.getElementById('toAddressSuggest');


        fromAddressInput.addEventListener('input', e => handleAddressInput(e, fromAddressInput, fromAddressSuggest));
        toAddressInput.addEventListener('input', e => handleAddressInput(e, toAddressInput, toAddressSuggest));


    </script>
{% endblock %}
