<form action="{{ path('cargo.index') }}" method="GET" class="filter" id="filter">
    <div class="filter__row">
        <div class="filter__block">
            <div class="filter__element">
                <label class="filter__label">Откуда</label>
                <input type="text" class="filter__input" id="fromAddressInput" name="fromAddress" {% if filter and filter.fromAddress is defined %}value="{{ filter.fromAddress }}"{% endif %}>
                <div id="fromAddressSuggest">
                    <ul class="suggest-list"></ul>
                </div>
            </div>
            <div class="filter__element filter__element-radius">
                <label class="filter__label">Радиус</label>
                <input type="text" class="filter__input" id="fromRadius" name="fromRadius" placeholder="км"
                       {% if filter.fromAddress is not defined %}disabled{% endif %}
                        {% if filter and filter.fromRadius is defined %}value="{{ filter.fromRadius }}"{% endif %}>
            </div>
            <div class="filter__swap">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.99 11L3 15l3.99 4v-3H14v-2H6.99v-3zM21 9l-3.99-4v3H10v2h7.01v3L21 9z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>
            <div class="filter__element">
                <label class="filter__label">Куда</label>
                <input type="text" class="filter__input" id="toAddressInput" name="toAddress" {% if filter and filter.toAddress is defined %}value="{{ filter.toAddress }}"{% endif %}>
                <div id="toAddressSuggest">
                    <ul class="suggest-list"></ul>
                </div>
            </div>
            <div class="filter__element filter__element-radius">
                <label class="filter__label">Радиус</label>
                <input type="text" class="filter__input" id="toRadius" name="toRadius" placeholder="км"
                       {% if filter.toAddress is not defined %}disabled{% endif %}
                        {% if filter and filter.toRadius is defined %}value="{{ filter.toRadius }}"{% else %}disabled{% endif %}>
            </div>
        </div>
        <div class="filter__block filter__block-right">
            <div class="filter__element filter__minMax">
                <label class="filter__label">Вес, т</label>
                <div class="filter__block">
                    <input type="text" class="filter__input" name="weightMin" {% if filter and filter.weightMin is defined %}value="{{ filter.weightMin }}"{% endif %}>
                    <input type="text" class="filter__input" name="weightMax" {% if filter and filter.weightMax is defined %}value="{{ filter.weightMax }}"{% endif %}>
                </div>
            </div>
            <div class="filter__element filter__minMax">
                <label class="filter__label">Объем, м<sup>3</sup></label>
                <div class="filter__block">
                    <input maxlength="4" type="text" class="filter__input" name="volumeMin" {% if filter and filter.volumeMin is defined %}value="{{ filter.volumeMin }}"{% endif %}>
                    <input maxlength="4" type="text" class="filter__input" name="volumeMax" {% if filter and filter.volumeMax is defined %}value="{{ filter.volumeMax }}"{% endif %}>
                </div>
            </div>
        </div>
    </div>
    <div class="filter__row">
        <button type="submit" class="button">Найти</button>
    </div>
</form>
{% if list|length > 0 %}
    <div class="meta">
        <h2>Найдено {{ totalCount }} грузов</h2>
        <div class="meta-right">
            <div class="sort">
                <label>Упорядочить по </label>
                <select name="order_by" id="">
                    <option value="">времени добавления</option>
                </select>
            </div>
            {{ include('common/pagination.html.twig',  { borders: borders, page: page, lastPage: lastPage, url: 'cargo.index' }) }}
        </div>

    </div>

    <div class="table">
        <div class="row row__header">
            <div class="table__item">Транспорт</div>
            <div class="table__item table__item-price">Маршрут</div>
            <div class="table__item">Груз</div>
            <div class="table__item table__item-price">Ставка</div>
        </div>
        {% for order in list %}
            <div class="row">
                <div class="table__item">{{ order.getBodyTypeName() }}</div>
                <div class="table__item table__item-price text-bold">
                    {{ order.fromAddress }}
                    <span>{{ order.distance }} км</span>
                    <span>{{ order.toAddress }}</span>
                    {% if order.downloadingDateStatus == 'permanently' %}
                        <div>Постоянно</div>
                    {% elseif order.downloadingDateStatus == 'ready' %}
                        <div>готов {{ order.downloadingDate|date('d M')|lower }}.</div>
                    {% endif %}
                </div>
                <div class="table__item">
                    {{ order.weight }}т. {{ order.volume }}м3 {{ order.getCargoTypeName() }}
                </div>
                <div class="table__item table__item-price">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <span class="text-gray">скрыто</span>
                    {% elseif order.priceType == 'fix' or order.priceType == 'negotiable' %}
                        <div>
                            {% if order.priceWithoutTax is defined %}
                                <div class="price__item">
                                    <span class="text-bold">{{ order.priceWithoutTax }} руб</span> <span class="text-gray">без НДС</span>
                                    <span class="text-bold">{{ (order.priceWithoutTax / order.distance)|round }}</span> руб/км
                                </div>
                            {% endif %}
                            {% if order.priceWithTax is defined %}
                                <div class="price__item">
                                    <span class="text-bold">{{ order.priceWithTax }} руб</span> <span class="text-gray">c НДС</span>
                                    <span class="text-bold" >{{ (order.priceWithTax / order.distance)|round }}</span> руб/км
                                </div>
                            {% endif %}
                        </div>
                        {% if order.priceType == 'negotiable' %}
                            <div>
                                <svg fill="#ffffff" stroke="#ffffff" stroke-width="0" data-qa="icon" viewBox="0 0 15 15" width="15" height="15" class="arrow-svg">
                                    <use xlink:href="#ic_shape" href="#ic_shape">
                                        <symbol id="ic_shape" viewBox="0 0 18 14">
                                            <path d="M17.924 13.557c.028-.175.624-4.377-2.047-7.27-1.64-1.776-4.172-2.75-7.441-2.846L8.419.52a.52.52 0 0 0-.322-.47.603.603 0 0 0-.596.066L.207 5.656A.509.509 0 0 0 0 6.059c0 .156.075.304.205.402L7.5 12.053a.596.596 0 0 0 .597.069.518.518 0 0 0 .323-.47l.017-2.988c7.88-.005 8.44 4.667 8.459 4.86.024.263.204.467.488.476a.514.514 0 0 0 .541-.442Z"></path>
                                        </symbol>
                                    </use>
                                </svg>
                                <a href="">Отправить ставку</a>
                            </div>
                        {% else %}
                            <span class="text-gray">без торга</span>
                        {% endif %}
                    {% else %}
                        <span class="text-gray">запрос ставки</span>
                    {% endif %}
                </div>

                <div class="table-bottom">
                    <div class="table__contact">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if app.user and app.user.id != order.user.id %}
                                <a href="{{ path('profile.messages') }}/{{ order.user.id }}?load_id={{ order.id }}">
                                    <span>
                                        <svg fill="#3a7bbf" stroke="#3a7bbf" stroke-width="0" data-qa="icon" viewBox="0 0 15 15" width="15" height="15">
                                            <use xlink:href="#ic_message" href="#ic_message">
                                                <symbol id="ic_message" viewBox="0 0 17 16"><path fill-rule="evenodd" clip-rule="evenodd" d="m6.5 13-4.327-.022-.242-.001-1.008-.005-.462-.003a.464.464 0 0 1-.323-.793l.329-.324.005-.005.713-.704.172-.17.226-.222A6.452 6.452 0 0 1 0 6.5C0 2.916 2.916 0 6.5 0S13 2.916 13 6.5 10.084 13 6.5 13Zm-2.31-2.012.132-.13L3.094 9.44A4.452 4.452 0 0 1 2 6.5C2 4.02 4.02 2 6.5 2S11 4.02 11 6.5 8.98 11 6.5 11l-2.31-.012ZM14 4c3 2.5 3.273 6.777.855 9.621l1.498 1.508c.304.306.092.836-.335.838L9.755 16A6.651 6.651 0 0 1 5 13.997l1.842.011H6.84C11.945 14.008 15.4 9.007 14 4Z"></path></symbol>
                                            </use>
                                        </svg>
                                    </span>
                                    <span>Написать</span>
                                </a>
                                <span>{{ order.user.email }}</span>
                                {% for phone in order.user.phones %}
                                    <span><a href="tel:{{ phone.phone }}">{{ phone.phone }}</a></span>
                                {% endfor %}
                            {% endif %}

                        {% else %}
                            <div class="button-empty" data-show-auth="true">показать контакты и ставку</div>
                            <div>
                                Доступно <b>бесплатно</b> после быстрой регистрации
                            </div>
                        {% endif %}
                    </div>
                    <div class="table-right">
                        {% if app.user and app.user.id == order.user.id  %}
                            <a href="{{ path('cargo.edit', {id: order.id}) }}">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9687 0.281254L12.1406 2.10938L15.8906 5.85938L17.7187 4.03125C17.9063 3.84375 18 3.60938 18 3.32813C18 3.04688 17.9063 2.8125 17.7187 2.625L15.375 0.281254C15.1875 0.093752 14.9531 3.94788e-06 14.6719 3.96017e-06C14.3906 3.97247e-06 14.1563 0.0937521 13.9687 0.281254ZM3.75 18L14.8125 6.9375L11.0625 3.1875L-1.63918e-07 14.25L0 18L3.75 18Z" fill="#8C969D"/>
                                </svg>
                            </a>
                        {% else %}
                            <div>
                                <svg fill="#478cc8" stroke="#478cc8" stroke-width="0" data-qa="icon" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="none" x="3" y="3.5">
                                    <use xlink:href="#ic_star-outline" href="#ic_star-outline">
                                        <symbol id="ic_star-outline" viewBox="0 0 18 17"><path fill-rule="evenodd" clip-rule="evenodd" d="m9 12.537 3.849 2-.735-4.231 3.089-2.975-4.27-.613L9 2.849 7.068 6.718l-4.27.613 3.088 2.975-.735 4.23L9 12.538Zm3.055-7.375L9.69.424a.772.772 0 0 0-1.378 0L5.945 5.162.66 5.92a.761.761 0 0 0-.426 1.303l3.822 3.681-.903 5.202c-.108.623.55 1.098 1.115.805L9 14.453l4.732 2.458c.564.293 1.223-.182 1.115-.805l-.903-5.202 3.822-3.681a.761.761 0 0 0-.426-1.303l-5.285-.758Z"></path></symbol>
                                    </use>
                                </svg>
                            </div>
                        {% endif %}
                        <div>доб {{ order.createdAt|date('H:i') }}</div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>

{% else %}
    <div>Ничего не нашли</div>
{% endif %}
<script>
    window.onload = function() {
        function prepareUrlWithQueryParams(formData) {
            let searchParams = new URLSearchParams(window.location.search);
            for(let [name, value] of formData) {
                if (['null', null, ''].includes(value)) {

                    searchParams.delete(name);
                } else {
                    searchParams.set(name, value);
                }
            }

            return searchParams.toString()
        }

        const filter = document.getElementById('filter');

        filter.onsubmit = function(e) {
            e.preventDefault();
            const formData = new FormData(this);

            window.location.search = prepareUrlWithQueryParams(formData);
        }


        const fromAddressInput = document.getElementById('fromAddressInput');
        const fromAddressSuggest = document.getElementById('fromAddressSuggest');
        const fromRadius = document.getElementById('fromRadius');

        const toAddressInput = document.getElementById('toAddressInput');
        const toAddressSuggest = document.getElementById('toAddressSuggest');
        const toRadius = document.getElementById('toRadius');

        fromAddressInput.addEventListener('input', e => {
            if (e.target.value.length > 1) {
                fromRadius.disabled = false;
            } else {
                fromRadius.disabled = true;
                fromRadius.value = '';
            }
            handleAddressInput(e, fromAddressInput, fromAddressSuggest)
        });

        toAddressInput.addEventListener('input', e => {
            if (e.target.value.length > 1) {
                toRadius.disabled = false;
            } else {
                toRadius.disabled = true;
                toRadius.value = '';
            }
            handleAddressInput(e, toAddressInput, toAddressSuggest)
        });
    };
</script>
