<form action="{{ path('cargo.index') }}" method="GET" class="filter" id="filter">
    <div class="filter__row">
        <div class="filter__block">
            <div class="filter__element">
                <label class="filter__label">Откуда</label>
                <input type="text" class="filter__input" id="fromAddressInput" name="fromAddress" {% if filter and filter.fromAddress is defined %}value="{{ filter.fromAddress }}"{% endif %}>
                <div id="fromAddressSuggest">
                    <ul class="suggest-list"></ul>
                </div>
            </div>
            <div class="filter__element filter__element-radius">
                <label class="filter__label">Радиус</label>
                <input type="text" class="filter__input" id="fromRadius" name="fromRadius" placeholder="км"
                       {% if filter.fromAddress is not defined %}disabled{% endif %}
                        {% if filter and filter.fromRadius is defined %}value="{{ filter.fromRadius }}"{% endif %}>
            </div>
            <div class="filter__swap">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.99 11L3 15l3.99 4v-3H14v-2H6.99v-3zM21 9l-3.99-4v3H10v2h7.01v3L21 9z"></path>
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
            </div>
            <div class="filter__element">
                <label class="filter__label">Куда</label>
                <input type="text" class="filter__input" id="toAddressInput" name="toAddress" {% if filter and filter.toAddress is defined %}value="{{ filter.toAddress }}"{% endif %}>
                <div id="toAddressSuggest">
                    <ul class="suggest-list"></ul>
                </div>
            </div>
            <div class="filter__element filter__element-radius">
                <label class="filter__label">Радиус</label>
                <input type="text" class="filter__input" id="toRadius" name="toRadius" placeholder="км"
                       {% if filter.toAddress is not defined %}disabled{% endif %}
                        {% if filter and filter.toRadius is defined %}value="{{ filter.toRadius }}"{% else %}disabled{% endif %}>
            </div>
        </div>
        <div class="filter__block filter__block-right">
            <div class="filter__element filter__minMax">
                <label class="filter__label">Вес, т</label>
                <div class="filter__block">
                    <input type="text" class="filter__input" name="weightMin" {% if filter and filter.weightMin is defined %}value="{{ filter.weightMin }}"{% endif %}>
                    <input type="text" class="filter__input" name="weightMax" {% if filter and filter.weightMax is defined %}value="{{ filter.weightMax }}"{% endif %}>
                </div>
            </div>
            <div class="filter__element filter__minMax">
                <label class="filter__label">Объем, м<sup>3</sup></label>
                <div class="filter__block">
                    <input maxlength="4" type="text" class="filter__input" name="volumeMin" {% if filter and filter.volumeMin is defined %}value="{{ filter.volumeMin }}"{% endif %}>
                    <input maxlength="4" type="text" class="filter__input" name="volumeMax" {% if filter and filter.volumeMax is defined %}value="{{ filter.volumeMax }}"{% endif %}>
                </div>
            </div>
        </div>
    </div>
    <div class="filter__row">
        <button type="submit" class="button">Найти</button>
    </div>
</form>
{% if list|length > 0 %}
    <div class="meta">
        <h2>Найдено {{ totalCount }} грузов</h2>
        <div class="meta-right">
            <div class="sort">
                <label>Упорядочить по </label>

                <select name="orderBy" id="orderBy">
                    {% for orderOptionKey, orderOption in orderOptions %}
                        <option value="{{ orderOptionKey }}" {% if orderBy == orderOptionKey %}selected{% endif %}>{{ orderOption }}</option>
                    {% endfor %}
                </select>
            </div>
            {{ include('common/pagination.html.twig',  { borders: borders, page: page, lastPage: lastPage, url: 'cargo.index' }) }}
        </div>

    </div>

    <div class="table">
        <div class="row row__header">
            <div class="table__item">Транспорт</div>
            <div class="table__item table__item-price">Маршрут</div>
            <div class="table__item">Груз</div>
            <div class="table__item table__item-price">Ставка</div>
        </div>
        {% for load in list %}
            <div class="row">
                <div class="table__item">{{ load.getBodyTypeName() }}</div>
                <div class="table__item table__item-price text-bold">
                    {{ load.fromAddress }}
                    <span>{{ load.distance }} км</span>
                    <span>{{ load.toAddress }}</span>
                    {% if load.downloadingDateStatus == 'permanently' %}
                        <div>Постоянно</div>
                    {% elseif load.downloadingDateStatus == 'ready' %}
                        <div>готов {{ load.downloadingDate|date('d M')|lower }}.</div>
                    {% endif %}
                </div>
                <div class="table__item">
                    {{ load.weight }}т. {{ load.volume }}м3 {{ load.getCargoTypeName() }}
                </div>
                <div class="table__item table__item-price">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <span class="text-gray">скрыто</span>
                    {% elseif load.priceType == 'fix' or load.priceType == 'negotiable' %}
                        <div>
                            {% if load.priceWithoutTax is defined %}
                                <div class="price__item">
                                    <span class="text-bold">{{ load.priceWithoutTax }} руб</span> <span class="text-gray">без НДС</span>
                                    <span class="text-bold">{{ (load.priceWithoutTax / load.distance)|round }}</span> руб/км
                                </div>
                            {% endif %}
                            {% if load.priceWithTax is defined %}
                                <div class="price__item">
                                    <span class="text-bold">{{ load.priceWithTax }} руб</span> <span class="text-gray">c НДС</span>
                                    <span class="text-bold" >{{ (load.priceWithTax / load.distance)|round }}</span> руб/км
                                </div>
                            {% endif %}
                        </div>
                        {% if load.priceType == 'negotiable' %}
                            <button class="send-bid" id="sendBid" data-toogle="modalBid" data-target="#sendBidModal" data-order-id="{{ load.id }}">
                                <svg fill="#ffffff" stroke="#ffffff" stroke-width="0" data-qa="icon" viewBox="0 0 15 15" width="15" height="15" class="arrow-svg">
                                    <use xlink:href="#ic_shape" href="#ic_shape">
                                        <symbol id="ic_shape" viewBox="0 0 18 14">
                                            <path d="M17.924 13.557c.028-.175.624-4.377-2.047-7.27-1.64-1.776-4.172-2.75-7.441-2.846L8.419.52a.52.52 0 0 0-.322-.47.603.603 0 0 0-.596.066L.207 5.656A.509.509 0 0 0 0 6.059c0 .156.075.304.205.402L7.5 12.053a.596.596 0 0 0 .597.069.518.518 0 0 0 .323-.47l.017-2.988c7.88-.005 8.44 4.667 8.459 4.86.024.263.204.467.488.476a.514.514 0 0 0 .541-.442Z"></path>
                                        </symbol>
                                    </use>
                                </svg>
                                <span>Отправить ставку</span>
                            </button>
                            {% if load.bids.count > 0 %}
                                {{ load.bids.count }}
                            {% endif %}
                        {% else %}
                            <span class="text-gray">без торга</span>
                        {% endif %}
                    {% else %}
                        <span class="text-gray">запрос ставки</span>
                    {% endif %}
                </div>

                <div class="table-bottom">
                    <div class="table__contact">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if app.user and app.user.id != load.user.id %}
                                <a href="{{ path('profile.messages') }}/{{ load.user.id }}?load_id={{ load.id }}">
                                    <span>
                                        <svg fill="#3a7bbf" stroke="#3a7bbf" stroke-width="0" data-qa="icon" viewBox="0 0 15 15" width="15" height="15">
                                            <use xlink:href="#ic_message" href="#ic_message">
                                                <symbol id="ic_message" viewBox="0 0 17 16"><path fill-rule="evenodd" clip-rule="evenodd" d="m6.5 13-4.327-.022-.242-.001-1.008-.005-.462-.003a.464.464 0 0 1-.323-.793l.329-.324.005-.005.713-.704.172-.17.226-.222A6.452 6.452 0 0 1 0 6.5C0 2.916 2.916 0 6.5 0S13 2.916 13 6.5 10.084 13 6.5 13Zm-2.31-2.012.132-.13L3.094 9.44A4.452 4.452 0 0 1 2 6.5C2 4.02 4.02 2 6.5 2S11 4.02 11 6.5 8.98 11 6.5 11l-2.31-.012ZM14 4c3 2.5 3.273 6.777.855 9.621l1.498 1.508c.304.306.092.836-.335.838L9.755 16A6.651 6.651 0 0 1 5 13.997l1.842.011H6.84C11.945 14.008 15.4 9.007 14 4Z"></path></symbol>
                                            </use>
                                        </svg>
                                    </span>
                                    <span>Написать</span>
                                </a>
                                <span>{{ load.user.email }}</span>
                                {% for phone in load.user.phones %}
                                    <span><a href="tel:{{ phone.phone }}">{{ phone.phone }}</a></span>
                                {% endfor %}
                            {% endif %}

                        {% else %}
                            <div class="button-empty" data-toogle="modal" data-target="#authModal">показать контакты и ставку</div>
                            <div>
                                Доступно <b>бесплатно</b> после быстрой регистрации
                            </div>
                        {% endif %}
                    </div>
                    <div class="table-right">
                        {% if app.user and app.user.id == load.user.id  %}
                            <a href="{{ path('cargo.edit', {id: load.id}) }}">
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.9687 0.281254L12.1406 2.10938L15.8906 5.85938L17.7187 4.03125C17.9063 3.84375 18 3.60938 18 3.32813C18 3.04688 17.9063 2.8125 17.7187 2.625L15.375 0.281254C15.1875 0.093752 14.9531 3.94788e-06 14.6719 3.96017e-06C14.3906 3.97247e-06 14.1563 0.0937521 13.9687 0.281254ZM3.75 18L14.8125 6.9375L11.0625 3.1875L-1.63918e-07 14.25L0 18L3.75 18Z" fill="#8C969D"/>
                                </svg>
                            </a>
                            <div>
                                <svg fill="#478cc8" stroke="#478cc8" stroke-width="0" data-qa="icon" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="none" x="3" y="3.5">
                                    <use xlink:href="#ic_star-outline" href="#ic_star-outline">
                                        <symbol id="ic_star-outline" viewBox="0 0 18 17"><path fill-rule="evenodd" clip-rule="evenodd" d="m9 12.537 3.849 2-.735-4.231 3.089-2.975-4.27-.613L9 2.849 7.068 6.718l-4.27.613 3.088 2.975-.735 4.23L9 12.538Zm3.055-7.375L9.69.424a.772.772 0 0 0-1.378 0L5.945 5.162.66 5.92a.761.761 0 0 0-.426 1.303l3.822 3.681-.903 5.202c-.108.623.55 1.098 1.115.805L9 14.453l4.732 2.458c.564.293 1.223-.182 1.115-.805l-.903-5.202 3.822-3.681a.761.761 0 0 0-.426-1.303l-5.285-.758Z"></path></symbol>
                                    </use>
                                </svg>
                            </div>
                        {% else %}

                        {% endif %}
                        <a href="{{ path('cargo.show', {id: load.id}) }}" class="load-info">
                            <svg width="24" height="24" viewBox="0 0 24 24">
                                <svg fill="white" stroke="white" stroke-width="0" data-qa="icon" viewBox="0 0 20 20" width="20" height="20" preserveAspectRatio="none" x="2" y="2">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 10c0-1.38.26-2.679.781-3.896A10.035 10.035 0 0 1 2.92 2.92 10.035 10.035 0 0 1 6.104.78 9.801 9.801 0 0 1 10 0c1.38 0 2.679.26 3.896.781A10.036 10.036 0 0 1 17.08 2.92a10.037 10.037 0 0 1 2.139 3.184A9.802 9.802 0 0 1 20 10c0 1.38-.26 2.679-.781 3.896a10.038 10.038 0 0 1-2.139 3.184 10.038 10.038 0 0 1-3.183 2.139A9.802 9.802 0 0 1 10 20c-1.38 0-2.679-.26-3.896-.781A10.037 10.037 0 0 1 2.92 17.08a10.036 10.036 0 0 1-2.14-3.183A9.802 9.802 0 0 1 0 10Zm1.25 0c0 1.21.228 2.347.684 3.408a8.813 8.813 0 0 0 1.875 2.783 8.811 8.811 0 0 0 2.783 1.875A8.545 8.545 0 0 0 10 18.75c1.21 0 2.347-.228 3.408-.684a8.811 8.811 0 0 0 2.783-1.875 8.811 8.811 0 0 0 1.875-2.783A8.545 8.545 0 0 0 18.75 10c0-1.21-.228-2.347-.684-3.408a8.811 8.811 0 0 0-1.875-2.783 8.813 8.813 0 0 0-2.783-1.875A8.545 8.545 0 0 0 10 1.25c-1.21 0-2.347.228-3.408.684a8.812 8.812 0 0 0-2.783 1.875 8.812 8.812 0 0 0-1.875 2.783A8.545 8.545 0 0 0 1.25 10Z"></path><path d="M11.336 8.125v8H8.72v-8h2.616Zm.27-2.839c0 .208-.043.403-.127.586-.084.183-.2.343-.346.481a1.694 1.694 0 0 1-.51.329 1.584 1.584 0 0 1-1.22 0 1.684 1.684 0 0 1-.493-.329 1.519 1.519 0 0 1-.338-.481 1.423 1.423 0 0 1-.122-.586c0-.214.04-.414.122-.6a1.58 1.58 0 0 1 .831-.818 1.634 1.634 0 0 1 1.73.33c.146.14.262.303.346.489.084.185.127.385.127.599Z"></path>
                                </svg>
                            </svg>
                        </a>

                        <div>доб <span>{{ load.createdAt|date('Y-m-d-H-i') != "now"|date('Y-m-d-H-i') ? load.createdAt|date('d M') : load.createdAt|date('H:i') }}</span></div>
                        {% if load.updatedAt and load.createdAt != load.updatedAt %}
                            <div>изм {{ load.updatedAt|date('H:i') }}</div>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
    <div class="table__meta">
        {{ include('common/pagination.html.twig',  { borders: borders, page: page, lastPage: lastPage, url: 'cargo.index' }) }}
        <div>
            <span>Выводить строк</span>
            <select name="" id="perPage">
                {% for option in  perPageOptions %}
                    <option value="{{ option }}" {% if perPage == option %}selected{% endif %}>{{ option }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

{% else %}
    <div>Ничего не нашли</div>
{% endif %}
<script>
    window.onload = function() {
        function prepareUrlWithQueryParams(form) {
            const formData = new FormData(form);

            let searchParams = new URLSearchParams(window.location.search);
            for(let [name, value] of formData.entries()) {
                if (['null', null, ''].includes(value)) {
                    searchParams.delete('page');
                    searchParams.delete(name);
                } else if (searchParams.get(name) !== value) {
                    searchParams.delete('page');
                    searchParams.set(name, String(value));
                }
            }

            return searchParams;
        }

        const filter = document.getElementById('filter');

        filter.onsubmit = function(e) {
            e.preventDefault();

            window.location.search = prepareUrlWithQueryParams(this).toString();
        }

        const perPage = document.getElementById('perPage');

        if (perPage) {
            perPage.onchange = function (e) {
                e.preventDefault();

                let searchParams = new URLSearchParams(window.location.search);
                if (!['null', null, ''].includes(e.target.value)) {
                    searchParams.delete('page');
                    searchParams.set('per_page', e.target.value);

                    window.location.search = searchParams.toString();
                }
            }
        }

        const orderBy = document.getElementById('orderBy');
        orderBy.onchange = function(e) {
            e.preventDefault();

            let searchParams = new URLSearchParams(window.location.search);
            if (!['null', null, ''].includes(e.target.value)) {
                searchParams.set('order_by', e.target.value);

                window.location.search = searchParams.toString();
            }
        }


        const fromAddressInput = document.getElementById('fromAddressInput');
        const fromAddressSuggest = document.getElementById('fromAddressSuggest');
        const fromRadius = document.getElementById('fromRadius');

        const toAddressInput = document.getElementById('toAddressInput');
        const toAddressSuggest = document.getElementById('toAddressSuggest');
        const toRadius = document.getElementById('toRadius');

        fromAddressInput.addEventListener('input', e => {
            if (e.target.value.length > 1) {
                fromRadius.disabled = false;
            } else {
                fromRadius.disabled = true;
                fromRadius.value = '';
            }
            handleAddressInput(e, fromAddressInput, fromAddressSuggest)
        });

        toAddressInput.addEventListener('input', e => {
            if (e.target.value.length > 1) {
                toRadius.disabled = false;
            } else {
                toRadius.disabled = true;
                toRadius.value = '';
            }
            handleAddressInput(e, toAddressInput, toAddressSuggest)
        });
    };
</script>
