<div class="pagination">
    {% if page > 1 %}
        <a class="page" href="{{ path('cargo.index', {  page: page - 1 }) }}"><</a>
    {% endif %}
    {% for i in 1..lastPage %}
        {% if page == i %}
            <div class="page active">{{ i }}</div>
        {% else %}
            <a class="page" href="{{ path('cargo.index', {  page: i }) }}">{{ i }}</a>
        {% endif %}
    {% endfor %}
    {% if page < lastPage %}
        <a class="page" href="{{ path('cargo.index', {  page: page + 1 }) }}">></a>
    {% endif %}
</div>
<style>
    .pagination {
        gap: 5px;
        display: flex;
    }
</style>
