<div class="pagination">
    {% if page > 1 %}
        <a class="page" href="{{ path('cargo.index', { ...app.request.query.all, page: page - 1 }) }}"><</a>
    {% endif %}
    {% if lastPage > 1 %}
        {% for i in borders[0]..borders[1] %}
            {% if page == i %}
                <div class="page active">{{ i }}</div>
            {% else %}
                <a class="page" href="{{ path('cargo.index', { ...app.request.query.all, page: i }) }}">{{ i }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if page < lastPage %}
        <a class="page" href="{{ path('cargo.index',  { ...app.request.query.all, page: page + 1 }) }}">></a>
    {% endif %}
</div>
<style>
    .pagination {
        gap: 3px;
        display: flex;
    }
</style>
