<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link href="{{ asset('assets/notify.css') }}" rel="stylesheet" />
        <script type="text/javascript" src="{{ asset('assets/notify.js') }}"></script>
    </head>
    <body>
    <nav class="nav">
        <div class="container">
            <div class="nav__wrapper">
                <a href="{{  path('cargo.index') }}">Cargo</a>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="right">
                        <span>{{ app.user.email }}</span>
                        <a href="{{ path('app_sign_out') }}">Выйти</a>
                    </div>
                {% else %}
                    <a class="right" href="{{ path('app_sign_in') }}">Вход</a>
                {% endif %}
            </div>
        </div>
    </nav>
        <div class="container">
             {% block body %}{% endblock %}
        </div>
    </body>
    <style>
        body {
            background-color: #E5EAEF;
            margin: 0;
        }
        .nav {
            background-color: #fff;
            height: 40px;
        }
        .nav__wrapper {
            height: 100%;
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
        .right {
            margin-left: auto;
        }
        .container {
            height: 100%;
            margin: 0 auto;width: 100%;
            max-width: 1280px;
            min-width: 0;
        }
        input,
        select {
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            font-weight: 300;
            height: 35px;
            outline: none;
            padding: 6px 12px;
        }
        .button {
            cursor: pointer;
            text-decoration: none;
            line-height: normal;
            font-family: inherit;
            font-size: 1em;
            font-weight: bold;
            width: auto;
            margin: 0;
            padding: .5em 1em;
            display: inline-block;
            border: none;
            border-radius: 4px;
            text-align: center;
            vertical-align: middle;
            color: #fff;
            background-color: #48b1ec;
        }
        .button:hover {
            background-color: #2286BE;
        }
    </style>
    <script>
        if (!window["WebSocket"]) {
            alert("Error: Your browser does not support web sockets.")
        } else {
            socket = new WebSocket("ws://localhost:4000");

            socket.onclose = function() {
                console.log("Connection has been closed.");
            }
            socket.onmessage = function(e) {
                let notification = new Notify('Notification Title', e.data);
            }
        }
    </script>
</html>
