<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
{#        {% block stylesheets %}#}
            {{ encore_entry_link_tags('app') }}
{##}
{#        {% endblock %}#}
        {% block stylesheets %}
{#            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">#}
            <link href="{{ asset('assets/css/notify.css') }}" rel="stylesheet"/>
            <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet"/>
        {% endblock %}
        <script>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                window.authData = {
                    userId: '{{ app.user.id }}',
                    email: '{{ app.user.email }}'
                };
            {% endif %}
        </script>


        <script type="text/javascript" src="{{ asset('assets/js/notify.js') }}"></script>

{#        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>#}
    </head>
    <body>
        <div class="app">
            <nav class="nav">
                <div class="container">
                    <div class="nav__wrapper">
                        <div>
                            <a class="logo" href="{{ path('cargo.index') }}">
                                <svg   width="1500" height="1500" viewBox="0 0 1500 1500">
                                    <rect width="1500" height="1500" fill="#ffffff"></rect>
                                    <g transform="matrix(0.6666666666666666,0,0,0.6666666666666666,249.39393939393932,539.3819026436358)">
                                        <svg viewBox="0 0 396 167" data-background-color="#ffffff" preserveAspectRatio="xMidYMid meet" height="632" width="1500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <g id="tight-bounds" transform="matrix(1,0,0,1,0.24000000000003752,-0.019250968719575212)">
                                                <svg viewBox="0 0 395.5199999999999 167.03850193743915" height="167.03850193743915" width="395.5199999999999">
                                                    <g>
                                                        <svg viewBox="0 0 397.4976 167.87369444712635" height="167.03850193743915" width="395.5199999999999">
                                                            <g>
                                                                <rect width="397.4976" height="5.141749539321313" x="0" y="92.25600265460339" fill="#000000" opacity="1" stroke-width="0" stroke="transparent" fill-opacity="1" class="rect-qz-0" data-fill-palette-color="secondary" rx="1%" id="qz-0" data-palette-color="#8d021f"></rect>
                                                            </g>
                                                            <g transform="matrix(1,0,0,1,0.9887999999999693,110.85782952199096)">
                                                                <svg viewBox="0 0 395.52000000000004 57.015864925135396" height="57.015864925135396" width="395.52000000000004">
                                                                    <g id="textblocktransform">
                                                                        <svg viewBox="0 0 395.52000000000004 57.015864925135396" height="57.015864925135396" width="395.52000000000004" id="textblock">
                                                                            <g>
                                                                                <svg viewBox="0 0 395.52000000000004 57.015864925135396" height="57.015864925135396" width="395.52000000000004">
                                                                                    <g transform="matrix(1,0,0,1,0,0)">
                                                                                        <svg width="395.52000000000004" viewBox="1.5499999999999998 -36.15 313.87 45.25" height="57.015864925135396" data-palette-color="#8d021f">
                                                                                            <path d="M12.35 0.6Q8.7 0.6 6.28-0.48 3.85-1.55 2.7-3.3 1.55-5.05 1.55-7.1L1.55-7.1Q1.55-7.7 1.58-7.93 1.6-8.15 1.6-8.2L1.6-8.2 5.95-8.2 5.95-7.7Q5.95-5.35 7.8-4.17 9.65-3 12.6-3L12.6-3Q15.15-3 16.82-4.03 18.5-5.05 18.5-6.9L18.5-6.9Q18.5-8.35 17.55-9.28 16.6-10.2 15.2-10.73 13.8-11.25 11.4-11.85L11.4-11.85Q8.5-12.6 6.68-13.35 4.85-14.1 3.58-15.58 2.3-17.05 2.3-19.4L2.3-19.4Q2.3-22.85 5.13-24.88 7.95-26.9 12.75-26.9L12.75-26.9Q15.75-26.9 17.95-25.93 20.15-24.95 21.28-23.33 22.4-21.7 22.4-19.7L22.4-19.7 22.35-18.75 18.05-18.75 18.05-19.2Q18.05-20.95 16.68-22.1 15.3-23.25 12.25-23.25L12.25-23.25Q9.25-23.25 8.05-22.18 6.85-21.1 6.85-19.7L6.85-19.7Q6.85-18.55 7.7-17.8 8.55-17.05 9.8-16.6 11.05-16.15 13.3-15.6L13.3-15.6Q16.4-14.8 18.35-14.03 20.3-13.25 21.68-11.68 23.05-10.1 23.05-7.5L23.05-7.5Q23.05-3.45 20.13-1.43 17.2 0.6 12.35 0.6L12.35 0.6ZM28.35 0L28.35-26.3 31.7-26.3 32.2-22.75 32.55-22.75Q35.25-26.9 40.45-26.9L40.45-26.9Q45.55-26.9 47.25-22.75L47.25-22.75 47.55-22.75Q48.9-24.75 51.07-25.83 53.25-26.9 55.7-26.9L55.7-26.9Q63.45-26.9 63.45-18.95L63.45-18.95 63.45 0 59.05 0 59.05-18.15Q59.05-21 57.8-22.13 56.55-23.25 54.35-23.25L54.35-23.25Q51.7-23.25 49.9-21.15 48.1-19.05 48.1-15.55L48.1-15.55 48.1 0 43.7 0 43.7-18.15Q43.7-21 42.5-22.13 41.3-23.25 39.1-23.25L39.1-23.25Q37.4-23.25 35.95-22.33 34.5-21.4 33.62-19.65 32.75-17.9 32.75-15.55L32.75-15.55 32.75 0 28.35 0ZM77.15 0.6Q73.75 0.6 71.1-1 68.45-2.6 68.45-6.8L68.45-6.8Q68.45-11.85 72.95-13.73 77.45-15.6 85.95-15.6L85.95-15.6 85.95-18.5Q85.95-20.8 84.65-22.03 83.35-23.25 79.95-23.25L79.95-23.25Q76.75-23.25 75.37-22.05 74-20.85 74-19.1L74-19.1 74-18.5 69.75-18.5Q69.7-18.8 69.7-19.6L69.7-19.6Q69.7-23.1 72.6-25 75.5-26.9 80.35-26.9L80.35-26.9Q85.25-26.9 87.8-24.85 90.35-22.8 90.35-19.05L90.35-19.05 90.35-4.8Q90.35-3.9 90.85-3.48 91.35-3.05 92.1-3.05L92.1-3.05 94.1-3.05 94.1-0.2Q92.8 0.4 90.7 0.4L90.7 0.4Q89 0.4 87.85-0.63 86.7-1.65 86.3-3.35L86.3-3.35 85.95-3.35Q84.6-1.5 82.27-0.45 79.95 0.6 77.15 0.6L77.15 0.6ZM78.3-3.05Q80.25-3.05 82-3.85 83.75-4.65 84.85-6.23 85.95-7.8 85.95-10.05L85.95-10.05 85.95-11.95Q79.5-11.95 76.27-10.93 73.05-9.9 73.05-7.05L73.05-7.05Q73.05-4.9 74.37-3.98 75.7-3.05 78.3-3.05L78.3-3.05ZM97.79 0L97.79-26.3 101.14-26.3 101.64-22.35 101.94-22.35Q102.69-24.3 104.19-25.6 105.69-26.9 108.14-26.9L108.14-26.9Q109.49-26.9 110.49-26.5L110.49-26.5 110.49-22.25 108.64-22.25Q105.84-22.25 104.02-20.63 102.19-19 102.19-15.55L102.19-15.55 102.19 0 97.79 0ZM120.39 0.55Q117.69 0.55 116.44-1.05 115.19-2.65 115.19-5L115.19-5 115.19-22.65 111.99-22.65 111.99-26.3 115.24-26.3 116.19-33.6 119.59-33.6 119.59-26.3 124.04-26.3 124.04-22.65 119.59-22.65 119.59-5.4Q119.59-3.05 121.79-3.05L121.79-3.05 124.04-3.05 124.04-0.15Q123.39 0.15 122.34 0.35 121.29 0.55 120.39 0.55L120.39 0.55ZM130.84 9.1Q128.64 9.1 127.34 8.7L127.34 8.7 127.34 5.85 129.09 5.85Q134.19 5.85 135.79 0L135.79 0 125.64-26.3 130.29-26.3 135.19-13.15Q136.24-10.35 138.04-4.9L138.04-4.9 138.29-4.9Q139.74-10 140.74-13.15L140.74-13.15 144.94-26.3 149.34-26.3 140.69-1.35Q138.94 3.65 136.71 6.38 134.49 9.1 130.84 9.1L130.84 9.1ZM167.23 0L167.23-36.15 171.63-36.15 171.63 0 167.23 0ZM188.88 0.6Q182.83 0.6 179.78-2.78 176.73-6.15 176.73-13.15L176.73-13.15Q176.73-20.15 179.78-23.53 182.83-26.9 188.88-26.9L188.88-26.9Q194.93-26.9 197.98-23.53 201.03-20.15 201.03-13.15L201.03-13.15Q201.03-6.15 197.98-2.78 194.93 0.6 188.88 0.6L188.88 0.6ZM188.88-3.05Q192.88-3.05 194.68-5.38 196.48-7.7 196.48-12.95L196.48-12.95 196.48-13.35Q196.48-18.6 194.68-20.93 192.88-23.25 188.88-23.25L188.88-23.25Q184.88-23.25 183.08-20.93 181.28-18.6 181.28-13.35L181.28-13.35 181.28-12.95Q181.28-7.7 183.08-5.38 184.88-3.05 188.88-3.05L188.88-3.05ZM210.83 9.1Q207.93 9.1 205.8 7.63 203.68 6.15 203.68 2.75L203.68 2.75Q203.68-1.35 207.93-2.85L207.93-2.85Q206.73-3.5 205.95-4.53 205.18-5.55 205.18-6.9L205.18-6.9Q205.18-8.85 206.55-9.85 207.93-10.85 209.58-11.25L209.58-11.25Q207.93-12.45 206.98-14.2 206.03-15.95 206.03-18.05L206.03-18.05Q206.03-22.25 208.88-24.58 211.73-26.9 216.68-26.9L216.68-26.9Q219.43-26.9 221.68-26L221.68-26Q224.93-27.55 225.48-30.55L225.48-30.55 229.68-30.55Q229.68-28.2 228.3-26.5 226.93-24.8 224.58-24.25L224.58-24.25Q227.38-21.75 227.38-18.05L227.38-18.05Q227.38-13.85 224.5-11.53 221.63-9.2 216.68-9.2L216.68-9.2 212.48-9.2Q211.13-9.2 210.4-8.6 209.68-8 209.68-7.05L209.68-7.05Q209.68-6.1 210.4-5.5 211.13-4.9 212.48-4.9L212.48-4.9 223.03-4.9Q226.13-4.9 227.93-3.03 229.73-1.15 229.73 1.5L229.73 1.5Q229.73 3.4 228.88 5.15 228.03 6.9 226.15 8 224.28 9.1 221.43 9.1L221.43 9.1 210.83 9.1ZM216.73-12.6Q219.83-12.6 221.43-14.03 223.03-15.45 223.03-18.05L223.03-18.05Q223.03-20.65 221.43-22.08 219.83-23.5 216.73-23.5L216.73-23.5Q213.63-23.5 212.03-22.08 210.43-20.65 210.43-18.05L210.43-18.05Q210.43-15.45 212.03-14.03 213.63-12.6 216.73-12.6L216.73-12.6ZM211.23 5.55L221.53 5.55Q223.18 5.55 224.28 4.65 225.38 3.75 225.38 2.25L225.38 2.25Q225.38 0.75 224.5-0.13 223.63-1 222.18-1L222.18-1 211.23-1Q209.78-1 208.93-0.13 208.08 0.75 208.08 2.25L208.08 2.25Q208.08 3.75 208.93 4.65 209.78 5.55 211.23 5.55L211.23 5.55ZM233.93-31.4L233.93-36.15 238.28-36.15 238.28-31.4 233.93-31.4ZM233.93 0L233.93-26.3 238.33-26.3 238.33 0 233.93 0ZM254.02 0.6Q250.37 0.6 247.95-0.48 245.52-1.55 244.37-3.3 243.22-5.05 243.22-7.1L243.22-7.1Q243.22-7.7 243.25-7.93 243.27-8.15 243.27-8.2L243.27-8.2 247.62-8.2 247.62-7.7Q247.62-5.35 249.47-4.17 251.32-3 254.27-3L254.27-3Q256.82-3 258.5-4.03 260.17-5.05 260.17-6.9L260.17-6.9Q260.17-8.35 259.22-9.28 258.27-10.2 256.87-10.73 255.47-11.25 253.07-11.85L253.07-11.85Q250.17-12.6 248.35-13.35 246.52-14.1 245.25-15.58 243.97-17.05 243.97-19.4L243.97-19.4Q243.97-22.85 246.8-24.88 249.62-26.9 254.42-26.9L254.42-26.9Q257.42-26.9 259.62-25.93 261.82-24.95 262.95-23.33 264.07-21.7 264.07-19.7L264.07-19.7 264.02-18.75 259.72-18.75 259.72-19.2Q259.72-20.95 258.35-22.1 256.97-23.25 253.92-23.25L253.92-23.25Q250.92-23.25 249.72-22.18 248.52-21.1 248.52-19.7L248.52-19.7Q248.52-18.55 249.37-17.8 250.22-17.05 251.47-16.6 252.72-16.15 254.97-15.6L254.97-15.6Q258.07-14.8 260.02-14.03 261.97-13.25 263.35-11.68 264.72-10.1 264.72-7.5L264.72-7.5Q264.72-3.45 261.8-1.43 258.87 0.6 254.02 0.6L254.02 0.6ZM275.97 0.55Q273.27 0.55 272.02-1.05 270.77-2.65 270.77-5L270.77-5 270.77-22.65 267.57-22.65 267.57-26.3 270.82-26.3 271.77-33.6 275.17-33.6 275.17-26.3 279.62-26.3 279.62-22.65 275.17-22.65 275.17-5.4Q275.17-3.05 277.37-3.05L277.37-3.05 279.62-3.05 279.62-0.15Q278.97 0.15 277.92 0.35 276.87 0.55 275.97 0.55L275.97 0.55ZM283.92-31.4L283.92-36.15 288.27-36.15 288.27-31.4 283.92-31.4ZM283.92 0L283.92-26.3 288.32-26.3 288.32 0 283.92 0ZM305.02 0.6Q299.02 0.6 296.22-2.73 293.42-6.05 293.42-13.15L293.42-13.15Q293.42-20.2 296.24-23.55 299.06-26.9 305.02-26.9L305.02-26.9Q310.42-26.9 312.92-24.3 315.42-21.7 315.42-16.55L315.42-16.55 310.92-16.55Q310.92-20.1 309.64-21.68 308.37-23.25 305.02-23.25L305.02-23.25Q301.37-23.25 299.67-20.88 297.97-18.5 297.97-13.15L297.97-13.15 297.97-12.95Q297.97-7.65 299.62-5.35 301.27-3.05 305.02-3.05L305.02-3.05Q308.31-3.05 309.74-4.73 311.17-6.4 311.17-9.75L311.17-9.75 315.42-9.75Q315.42-5.25 312.87-2.33 310.31 0.6 305.02 0.6L305.02 0.6Z" opacity="1" transform="matrix(1,0,0,1,0,0)" fill="#000000" class="wordmark-text-0" data-fill-palette-color="primary" id="text-0"></path>
                                                                                        </svg>
                                                                                    </g>
                                                                                </svg>
                                                                            </g>
                                                                        </svg>
                                                                    </g>
                                                                </svg>
                                                            </g>
                                                            <g transform="matrix(1,0,0,1,132.11970404197285,0)">
                                                                <svg viewBox="0 0 133.25819191605424 78.79592532653713" height="78.79592532653713" width="133.25819191605424">
                                                                    <g>
                                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="8" y="0" viewBox="7.3991423824919424 20.658823497792618 81.1682854968747 54.543994397197615" enable-background="new 0 0 96 96" xml:space="preserve" height="78.79592532653713" width="117.25819191605424" class="icon-icon-0" data-fill-palette-color="accent" id="icon-0">
                                            <g fill="#8d021f" data-fill-palette-color="accent">
                                                <g fill="#8d021f" data-fill-palette-color="accent">
                                                    <g fill="#8d021f" data-fill-palette-color="accent">
                                                        <path d="M51.09 33.052c3.149-0.085 6.25-0.521 9.372 0.142 3.43 0.729 6.201 4.458 8.295 7.039 2.754 3.395 4.799 6.578 9.271 7.604 3.935 0.904 7.597 0.139 8.968 5.148 0.885 3.235 0.328 6.587-1.088 9.55-1.654 3.459-6.894 4.754-9.58 1.188-2.367-3.143-4.155-4.546-8.301-3.798-7.622 1.376-7.621 10.868-0.743 13.39 6.658 2.441 12.743-2.807 10.063-9.643-0.291-0.742-1.5-0.419-1.205 0.332 2.98 7.605-5.744 11.271-10.96 6.299-5.878-5.603 4.863-13.853 10.067-5.949 0.733 1.114 1.596 1.784 2.715 2.478 2.325 1.442 5.493-0.275 7.314-1.677 3.168-2.437 3.483-6.978 3.214-10.611-0.22-2.971-1.27-5.283-3.854-6.769-1.061-0.609-2.568-0.84-3.765-0.919-3.836-0.255-6.289-1.419-8.757-4.316-2.82-3.309-5.131-6.762-8.728-9.328-3.529-2.516-8.288-1.519-12.297-1.41C50.286 31.824 50.284 33.074 51.09 33.052L51.09 33.052z" fill="#000000" data-fill-palette-color="accent"></path>
                                                    </g>
                                                </g>
                                                <g fill="#8d021f" data-fill-palette-color="accent">
                                                    <g fill="#8d021f" data-fill-palette-color="accent">
                                                        <path d="M61.342 66.302c-0.169 0.43-8.484-0.086-9.542-0.12-4.916-0.156-9.827-0.421-14.742-0.61-1.426-0.055-2.853-0.107-4.28-0.089 0.144-0.002-0.965-2.796-1.517-3.51-1.859-2.408-5.28-2.713-8.04-2.265-8.492 1.382-8.525 12.724-0.833 15.332 4.448 1.508 14.556-7.89 9.12-10.427-0.726-0.339-1.361 0.738-0.631 1.079 2.554 1.192-1.221 4.893-2.412 6.02-4.827 4.571-11.786 0.356-10.433-6.102 1.402-6.692 12.829-6.447 13.522 0.529 0.032 0.317 0.261 0.653 0.625 0.625 6.114-0.474 12.503 0.407 18.62 0.633 1.737 0.064 10.86 1.49 11.748-0.763C62.843 65.883 61.634 65.561 61.342 66.302L61.342 66.302z" fill="#000000" data-fill-palette-color="accent"></path>
                                                    </g>
                                                </g>
                                                <g fill="#8d021f" data-fill-palette-color="accent">
                                                    <g fill="#8d021f" data-fill-palette-color="accent">
                                                        <path d="M16.556 66.5c-9.97-1.199-7.839-9.78-6.914-17.013 0.444-3.473 0.81-6.946 0.785-10.451-0.023-3.208-0.952-6.345-0.975-9.571-0.021-2.948 1.36-7.612 4.998-7.364 3.363 0.229 6.711 0.645 10.061 1.009 7.329 0.796 14.746 0.514 22.102 0.41 3.137-0.044 6.273-0.05 9.411-0.008 0.835 0.011 1.67-0.05 2.507-0.039-0.04 0.735-0.081 1.469-0.121 2.204-0.577 0.073-1.153 0.148-1.729 0.226-3.048 0.68-5.686 1.282-6.772 4.446-0.842 2.451-0.22 5.684-0.114 8.191 0.156 3.729 0.443 7.452 0.6 11.182 0.25 5.938-1.831 11.857-0.893 17.733 0.086 0.538 0.908 0.603 1.142 0.149 0.344-0.665 0.365-0.721 0.557-1.465 0.201-0.781-1.004-1.112-1.205-0.332-0.144 0.389-0.287 0.777-0.431 1.166 0.381 0.05 0.761 0.1 1.142 0.149-0.654-4.1 0.487-8.124 0.943-12.184 0.532-4.732-0.234-9.799-0.509-14.535-0.25-4.318-1.789-10.982 3.42-12.708 1.629-0.54 4.908-0.28 6.261-1.565 2.218-2.109-0.094-3.653-2.29-3.908-8.71-1.01-18.009 0.27-26.789 0.097-4.224-0.083-8.402-0.592-12.596-1.053-1.985-0.218-5.516-1.203-7.437-0.078-4.105 2.405-3.647 9.359-3.113 13.24 1.182 8.593-1.366 16.6-1.189 25.114 0.124 5.949 3.896 7.573 9.15 8.205C17.355 67.847 17.346 66.596 16.556 66.5L16.556 66.5z" fill="#000000" data-fill-palette-color="accent"></path>
                                                    </g>
                                                </g>
                                                <g fill="#8d021f" data-fill-palette-color="accent">
                                                    <g fill="#8d021f" data-fill-palette-color="accent">
                                                        <path d="M66.22 37.229c-3.627-0.251-7.58-1.832-9.467 2.323-1.018 2.241-1.033 6.483 0.768 8.396 4.416 4.693 12.064-0.26 17.251-0.26 0.806 0 0.806-1.25 0-1.25-3.729 0-7.415 1.717-11.128 2.088-3.232 0.323-5.752-0.769-6.172-4.258-0.33-2.74 0.168-6.012 3.651-6.446 1.582-0.197 3.475 0.545 5.098 0.658C67.025 38.534 67.019 37.284 66.22 37.229L66.22 37.229z" fill="#000000" data-fill-palette-color="accent"></path>
                                                    </g>
                                                </g>
                                                <g fill="#8d021f" data-fill-palette-color="accent">
                                                    <g fill="#8d021f" data-fill-palette-color="accent">
                                                        <path d="M64.792 38.131c0.697 0.875 1.705 0.976 2.746 0.818 0.795-0.12 0.456-1.324-0.332-1.205-0.635 0.096-1.121 0.016-1.53-0.497C65.173 36.617 64.294 37.507 64.792 38.131L64.792 38.131z" fill="#000000" data-fill-palette-color="accent"></path>
                                                    </g>
                                                </g>
                                                <g fill="#8d021f" data-fill-palette-color="accent">
                                                    <g fill="#8d021f" data-fill-palette-color="accent">
                                                        <path d="M87.6 54.683c-1.734-0.28-4.749-1.53-6.37-0.235-1.118 0.893-0.788 2.878-0.977 4.125-0.047 0.309 0.073 0.706 0.437 0.769 2.035 0.35 4.05 0.802 6.085 1.151 0.788 0.136 1.125-1.069 0.332-1.205-2.035-0.35-4.05-0.802-6.085-1.151 0.146 0.256 0.291 0.512 0.437 0.769 0.154-1.011-0.042-2.439 0.433-3.357 0.599-1.159 4.465 0.193 5.377 0.34C88.056 56.015 88.395 54.811 87.6 54.683L87.6 54.683z" fill="#000000" data-fill-palette-color="accent"></path>
                                                    </g>
                                                </g>
                                                <g fill="#8d021f" data-fill-palette-color="accent">
                                                    <g fill="#8d021f" data-fill-palette-color="accent">
                                                        <path d="M51.748 27.855C37.66 28.002 23.573 27.69 9.484 27.69c-0.806 0-0.806 1.25 0 1.25 14.088 0 28.175 0.312 42.264 0.165C52.554 29.097 52.554 27.847 51.748 27.855L51.748 27.855z" fill="#000000" data-fill-palette-color="accent"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                                                    </g>
                                                                </svg>
                                                            </g>
                                                            <g>
                                                                <rect width="55.586584041972856" height="5.141749539321313" y="72.65417578721582" x="265.3778959580271" fill="#000000" data-fill-palette-color="secondary"></rect>
                                                                <rect width="55.586584041972856" height="5.141749539321313" y="72.65417578721582" x="76.53312000000001" fill="#000000" data-fill-palette-color="secondary"></rect>
                                                            </g>
                                                        </svg>
                                                    </g>
                                                    <defs></defs>
                                                </svg>
                                                <rect width="395.5199999999999" height="167.03850193743915" fill="none" stroke="none" visibility="hidden"></rect>
                                            </g>
                                        </svg>
                                    </g>
                                </svg>

                            </a>
                            <a class="nav__button" href="{{ path('cargo.index') }}">Поиск грузов</a>
                            <a class="nav__button" href="#">Поиск машин</a>
                        </div>

                        <div id="nav"></div>
                    </div>
                </div>
            </nav>
            <div class="main">
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </div>
            <div class="footer">
                <div class="container">
                    {{ include('footer.html.twig') }}
                </div>
            </div>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
