<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
{#        {% block stylesheets %}#}
            {{ encore_entry_link_tags('app') }}
{##}
{#        {% endblock %}#}
        {% block stylesheets %}
{#            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">#}
            <link href="{{ asset('assets/css/notify.css') }}" rel="stylesheet"/>
            <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet"/>
        {% endblock %}
        <script>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                window.authData = {
                    userId: '{{ app.user.id }}',
                    email: '{{ app.user.email }}'
                };
            {% endif %}
        </script>


        <script type="text/javascript" src="{{ asset('assets/js/notify.js') }}"></script>

{#        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>#}
    </head>
    <body>
        <div class="app">
            <div class="modal__layer fade" id="sendBidModal">
                <div class="modal__body">
                    <div class="modal__dialog">
                        <div class="modal__header">
                            <h1>Отправить ставку</h1>
                            <button class="modal__close" data-toogle="modal" data-target="#sendBidModal">
                                <span >✕</span>
                            </button>
                        </div>
                        <div class="modal__content">
                            <form id="sendBidForm">
                                <div class="form-item">
                                    <div class="label">Ваша ставка</div>
                                    <div class="input">
                                        <input type="number" name="bid">
                                    </div>
                                </div>
                                <button type="submit" class="button">Отправить ставку</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="nav">
                <div class="container">
                    <div class="nav__wrapper">
                        <a href="{{ path('cargo.index') }}">Cargo</a>
                        <div id="nav"></div>
                    </div>
                </div>
            </nav>
            <div class="main">
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </div>
            <div class="footer">
                <div class="container">
                    {{ include('footer.html.twig') }}
                </div>
            </div>
        </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
    <script>
        const request = async (url, body = null) => {
            const options = {
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                }
            }

            if (body !== null) {
                options.body = JSON.stringify(body);
                options.method = "POST";
            }

            const response = await fetch(url, options);
            if (response.ok) {
                return await response.json();
            } else {
                throw new Error(String(response.status));
            }
        }

        function handleModal(e, targetString) {
            const modalDom = document.querySelector(targetString);

            function outSideClick(e) {
                if (!modalDom.querySelector('.modal__body').contains(e.target)) {
                    modalDom.classList.remove('show');
                }
            }

            if (!modalDom.classList.contains('show')) {
                modalDom.classList.add('show');

                document.addEventListener('click', outSideClick, {capture: true, once: true});
            } else {
                modalDom.classList.remove('show');
                document.removeEventListener('click', outSideClick);
            }
        }

        const modalButtons = document.querySelectorAll('[data-toogle="modal"]');
        modalButtons.forEach(el => {
            const targetString = el.getAttribute('data-target');
            el.onclick = e => handleModal(e, targetString);
        }) ;



        let currentOrderId;

        const modalBidButtons = document.querySelectorAll('[data-toogle="modalBid"]');
        modalBidButtons.forEach(el => {
            const targetString = el.getAttribute('data-target');
            const orderId = el.getAttribute('data-order-id');

            el.onclick = e => {
                currentOrderId = orderId;
                handleModal(e, targetString);
            }
        });


        const sendBidForm = document.getElementById('sendBidForm');
        sendBidForm.addEventListener('submit', async function (e) {
            e.preventDefault();
            if (currentOrderId) {
                const formData = new FormData(e.target);

                const object = {};
                for (let [name, value] of formData.entries()) {
                    object[name] = value;
                }
                const { data } = await request(`/api/sendBid/${currentOrderId}`, object);
                if (data) {
                    document.getElementById('sendBidModal').classList.remove('show');
                    this.reset();
                }
            }
        });
    </script>

    <script>

        if (window["WebSocket"] && window.authData && window.authData.userId) {
            socket = new WebSocket(`ws://localhost:4000?user_id=${window.authData.userId}`);

            socket.onopen = function (e) {
                console.log(e);
            }

            socket.onclose = function () {
                console.log("Connection has been closed.");
            }
            socket.onmessage = function (e) {
                const message = (JSON.parse(e.data)).message;

                let notification = new Notify('Notification Title', message);
            }
        }
    </script>
</html>
