<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
{#        {% block stylesheets %}#}
{#            {{ encore_entry_link_tags('app') }}#}
{#        {% endblock %}#}
        {% block stylesheets %}
{#            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">#}
            <link href="{{ asset('assets/css/notify.css') }}" rel="stylesheet"/>
            <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet"/>
        {% endblock %}


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script type="text/javascript" src="{{ asset('assets/notify.js') }}"></script>
{#        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>#}

    </head>
    <body>
        <div class="app">
            <nav class="nav">
                <div class="container">
                    <div class="nav__wrapper">
                        <a href="{{  path('cargo.index') }}">Cargo</a>

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="right">
                                <div id="user-menu" class="dropdown closed">
                                    <div id="dropdown-btn" class="dropdown-button">{{ app.user.email }}</div>
                                    <ul id="dropdown-list" class="dropdown-list">
                                        <li class="dropdown-item">
                                            <a href="{{ path('profile') }}">Мои настройки</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="{{ path('profile.messages') }}">Личные сообщения</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="{{ path('profile.company') }}">Моя компания</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="{{ path('profile.my-cargos') }}">Мои объявления</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="#">Мои фильтры</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="#">Мои отзывы</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="#">Мои рассылки</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="#">Баланс</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="{{ path('app_sign_out') }}">Выйти</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        {% else %}
                            <div class="right">
                                <a class="button button-primary button-small" href="{{ path('app_sign_in') }}" data-show-auth="true">Вход</a>
                                <a class="button button-secondary button-small" href="{{ path('register') }}">Регистрация</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
            <div class="main">
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </div>
            <div class="footer">
                <div class="container">
                    {{ include('footer.html.twig') }}
                </div>
            </div>
        </div>
    </body>
    <script>
        let dropdown = document.getElementById('user-menu');

        function outsideClick(event) {
            if (!document.getElementById('dropdown-list').contains(event.target)) {
                event.stopPropagation();
            }
            document.removeEventListener('click', outsideClick, { capture: true });
            dropdown.classList.add('closed');
        }

        document.getElementById('dropdown-btn').addEventListener('click', (e) => {
            if (dropdown.classList.contains('closed')) {
                dropdown.classList.remove('closed');
                document.addEventListener('click', outsideClick, {capture: true, once: true});
            } else {
                dropdown.classList.add('closed');
            }
        })


        if (!window["WebSocket"]) {
            alert("Error: Your browser does not support web sockets.")
        } else {
            socket = new WebSocket("ws://localhost:4000");

            socket.onclose = function() {
                console.log("Connection has been closed.");
            }
            socket.onmessage = function(e) {
                let notification = new Notify('Notification Title', e.data);
            }
        }
    </script>
</html>
