{% extends "base.html.twig" %}

{% block title %}Добавление груза{% endblock %}

{% block body %}
    <h1>Добавление груза</h1>
    {% for error in errors %}
    {{ error.message }}
    {% endfor %}
    <form action="{{ path('cargo.store') }}" method="POST" name="order">
        <input type="hidden" name="_token" value="{{ csrf_token('order') }}">
        <div class="legend">Описание груза</div>
        <div class="fieldset">
            <div class="form-item">
                <div class="label">Тип груза</div>
                <div class="input">
                    <select name="cargoType" id="">
                        {% for key, type in cargoTypes %}
                            <option value="{{ key }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-item">
                <div class="label">Упаковка</div>
                <div class="input">
                    <select name="packageType" id="">
                        {% for key, type in packageTypes %}
                            {% if type.children is not defined %}
                                <option value="{{ key }}">{{ type }}</option>
                            {% else %}
                                <optgroup label="{{ type.value }}">
                                    {% for childKey, childType in type.children %}
                                        <option value="{{ childKey }}">{{ childType }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endif %}

                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-item">
                <div class="label">Объём (на одну машину)</div>
                <div class="input">
                    <input type="number" name="volume">
                </div>
            </div>
            <div class="form-item">
                <div class="label">Вес (на одну машину)</div>
                <div class="input">
                    <input type="number" name="weight">
                </div>
            </div>
            <div class="form-item">
                <div class="label">Температурный режим</div>
                <div class="input">
                    <input type="number" name="temperatureModeFrom" placeholder="в ℃" min="-30" max="30" step="1">
                </div>
                -
                <div class="input">
                    <input type="number" name="temperatureModeTo" placeholder="в ℃" min="-30" max="30" step="1"  value="">
                </div>
            </div>
            <div class="form-item">
                <div class="label">Санитарный паспорт</div>
                <div class="input">
                    <input type="checkbox">
                </div>
            </div>
        </div>

        <div class="legend">Маршрут</div>
        <div class="fieldset">
            <div class="form-item">
                <div class="label">Откуда</div>
                <div class="input">
                    <input type="text" name="fromAddress">
                </div>
            </div>
            <div class="form-item">
                <div class="label">Куда</div>
                <div class="input">
                    <input type="text" name="toAddress">
                </div>
            </div>
        </div>

        <div class="legend">Условия перевозки</div>
        <div class="fieldset">
            <div class="form-item">
                <div class="label">Оплата</div>
                <div class="input">
                   <div id="agreedPriceBlock">
                       <label for="">
                           <input type="radio" name="isAgreedPrice" value="off" checked>
                           Запрос ставки
                       </label>
                       <label for="">
                           <input type="radio" name="isAgreedPrice" value="on">
                           Фиксированная сумма
                       </label>
                   </div>
                    <div id="priceBlock">
                        <input type="number" id="price" name="price" disabled>
                    </div>
                </div>
            </div>
            <div class="form-item">
                <div class="label">Дата загрузки</div>
                <div class="input">
                    <div id="">
                        <label for="">
                            <input type="radio" name="ready" value="on" checked>
                            Груз готов к загрузке постоянно
                        </label>
                        <label for="">
                            <input type="radio" name="ready" value="date">
                            Ввести дату готовности
                        </label>
                    </div>
                    <div>
                        <div id="ready_date"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="buttons">
            <button type="submit" class="button" {% if not is_granted('IS_AUTHENTICATED_FULLY') %}disabled{% endif %}>Добавить</button>
        </div>
    </form>
    <script>
        document.getElementById('agreedPriceBlock').onchange = function(e) {
            const price = document.getElementById('price');
            if (document.querySelector('input[name="isAgreedPrice"]:checked').value == 'on') {
                price.disabled = false;
            } else {
                price.disabled = true;
                price.value = '';
            }
        }

    </script>
{% endblock %}
