{% extends "base.html.twig" %}

{% block title %}Главная{% endblock %}

{% block body %}
    <h1>Поиск грузов</h1>

    <a class="button" href="{{ path('cargo.create') }}">Добавить</a>

    <form action="{{ path('cargo.index') }}" method="GET" class="filter">
        <div class="filter__row">
            <label>
                <span>Откуда</span>
                <input type="text" name="fromAddress" {% if filter %}value="{{ filter.fromAddress }}"{% endif %}>
            </label>
            <label>
                <span>Куда</span>
                <input type="text" name="toAddress" {% if filter %}value="{{ filter.toAddress }}"{% endif %}>
            </label>
            <label>
                <span>Вес</span>
                <input type="text" name="weight" {% if filter %}value="{{ filter.weight }}"{% endif %}>
            </label>
            <label>
                <span>Объем</span>
                <input type="text" name="volume" {% if filter %}value="{{ filter.volume }}"{% endif %}>
            </label>
        </div>
        <div class="filter__row">
            <button type="submit" class="button">Найти</button>
        </div>
    </form>
    {% if list|length > 0 %}
        <div class="meta">
            <h2>Найдено {{ totalCount }} грузов</h2>
            <div class="meta-right">
                <div class="sort">
                    <label>Упорядочить по </label>
                    <select name="order_by" id="">
                        <option value="">времени добавления</option>
                    </select>
                </div>
                {{ include('common/pagination.html.twig',  { page: page, lastPage: lastPage, url: 'cargo.index' }) }}
            </div>

        </div>

        <div class="table">
            <div class="row row__header">
                <div class="table-item">Откуда</div>
                <div class="table-item">Куда</div>
                <div class="table-item">Груз</div>
                <div class="table-item">Ставка</div>
                <div class="table-item">Готов</div>
                <div class="table-item">Транспорт</div>
            </div>
            {% for order in list %}
                <div class="row">
                    <div class="table-item">{{ order.fromAddress }}</div>
                    <div class="table-item">{{ order.toAddress }}</div>
                    <div class="table-item">
                        {{ order.weight }}т. {{ order.volume }}м3 {{ order.getCargoTypeName() }}
                    </div>
                    <div class="table-item">
                        {% if order.isAgreedPrice %}
                            {{ order.price }} руб
                        {% else %}
                            запрос ставки
                        {% endif %}
                    </div>
                    <div class="table-item">Готов</div>
                    <div class="table-item">Транспорт</div>
                    <div class="table-contact">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {{ order.user.email }}
                        {% else %}
                            <div class="button-empty">показать контакты и ставку</div>
                            <div>
                                Доступно <b>бесплатно</b> после быстрой регистрации
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <div>No orders have been posted yet.</div>
    {% endif %}
    <style>
        .filter {
            padding: 20px;
            background: #ffffff;
            margin-bottom: 20px;
        }
        .filter__row {
            display: flex;
            margin-bottom: 15px;
        }
        .meta {
            display: flex;
            justify-content: space-between;
            margin-top: 24px;
            margin-bottom: 20px;
        }
        .meta-right {
            display: flex;
            align-items: flex-end;
        }
        .sort {
            margin-right: 20px;
        }
        .table {
            background-color: #fff;
            margin-bottom: 20px;
        }
        .row {
            border-top: 1px solid #EEF2F7;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .row:nth-child(even) {
            background-color: #F1F1F1;
        }

        .row__header {
            background-color: #B5C3CC;
        }
        .table-item {
            display: block;
            width: calc(100% / 6);
            padding: 9px 15px;
        }
        .table-contact {
            gap: 8px;
            color: #8c969d;
            align-items: center;
            display: flex;
            padding: 9px 15px;
        }
        .page {
            cursor: pointer;
            text-decoration: none;
            line-height: normal;
            font-family: inherit;
            font-size: 1em;
            font-weight: bold;
            width: auto;
            margin: 0;
            height: 34px;
            padding: .5em 1em;
            display: inline-block;
            border: none;
            border-radius: 4px;
            text-align: center;
            vertical-align: middle;
            background-color: #fff;
            color: #48b1ec;
        }
        .page.active {
            cursor: default;
            color: #fff;
            background-color: #48b1ec;
        }
    </style>
{% endblock %}
